{% block extra_js%}
<script src="http://malsup.github.com/jquery.form.js"></script> 
{% endblock %}

{% block content %}
<form action="." method="post">
    <div class="box">
        <div class="box-content">
            <h4 class="page-header">Produtos</h4>
            <form class="form-horizontal" role="form">
            
            <!-- Modal --> 
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> </div>
            <!-- /.modal -->

            <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Tamanho</th>
                        <th>Cor</th>
                        <th>Editar</th>
                    </tr>
                </thead>

                <tbody>
                {% if produtos %}
                    {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.idProduto }}</td>
                            <td>{{ produto.deProduto }}</td>
                            <td>{{ produto.idTamanho.deTamanho }}</td>
                            <td>{{ produto.deCor }}</td>
                            <td>
                                <!--<a href="http://debian.org" target="_blank"><i class="fa fa-cog"></i></a> -->
                                <a class="fa fa-pencil" data-toggle="modal" href="{% url 'produtoForm.html' produto.idProduto %}" data-target="#modal" title="edit item" data-tooltip></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>

{% endblock %}